nav,
footer,
#enviarButton {
	background-color: rgb(62, 211, 62);
}

nav li a {
	color: white;
}

a img {
	height: 40px
}

h1,
h2,
h3,
h4,
p {
	font-family: 'Heebo', sans-serif;
}

footer li a {
	color: white;
}

.blob {
	opacity: 70%;
	z-index: -1;
	left: -146px;
	top: 1226px;
}

.highlight-container,
.highlight {
	position: relative;
}

.highlight-container {
	display: inline-block;
}

.highlight-container:before {
	content: " ";
	display: block;
	height: 90%;
	width: 44%;
	margin-left: -3px;
	margin-right: -3px;
	position: absolute;
	background: rgb(62, 211, 62);
	transform: rotate(2deg);
	top: -1px;
	left: -1px;
	border-radius: 20% 25% 20% 24%;
	padding: 10px 3px 3px 10px;
}

.card-image {
	border: 5px solid rgb(62, 211, 62);
}


.appDownload {
	height: 40px
}

.contatoDiv,
.Divsobrenos {
	background-color: rgb(246, 246, 246);
}