nav,
footer {
	background-color: rgb(62, 211, 62);
}

nav li a {
	color: white;
}

a img {
	height: 40px
}

h1,
h2,
h3,
h4 {
	font-family: 'Heebo', sans-serif;
}

footer li a {
	color: white;
}

.blob {
	opacity: 70%;
	z-index: -1;
	left: 370px;
	top: 807px;
}



.appDownload {
	height: 40px
}