nav,
footer,
#enviarButton {
	background-color: rgb(62, 211, 62);
}

nav li a {
	color: white;
}

a img {
	height: 40px
}

h1,
h2,
h3,
h4,
p {
	font-family: 'Heebo', sans-serif;
}

footer li a {
	color: white;
}

.blob {
	opacity: 70%;
	z-index: -1;
	left: 370px;
	top: 807px;
}

.card-image {
	border: 5px solid rgb(62, 211, 62);
}

.appDownload {
	height: 40px
}

.contatoDiv,
.Divsobrenos {
	background-color: rgb(246, 246, 246);
}